img {
    width: 200px;
    max-width: 100%;
}

.logo {
    width: 50px;
}

header {
    background-color: #132431;
    color: white;
    height: 100px;
}

main {
    background-color: #182d3d;
    height: calc(100vh - 100px);
}

.card-container {
    background-color: black;
}

.text-container {
    color: white;
}
